.btn-outline-purple{
    color:#8e7dfd;
    background-color: #d9d4fa;
    border-color:#cec6ff;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    font-size: larger;
}

.btn-outline-purple:hover{
    color:#fff;
    background-color:#cec6ff;
    border-color:#b8aefa;
    font-weight: bold;
}

.btn-outline-green{
    color: #90fd7d;
    background-color: #dcfad4;
    border-color: #daffc6;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    font-size: larger;
}

.btn-outline-green:hover{
    color:#fff;
    background-color: #dcfad4;
    border-color: #b3faae;
    font-weight: bold;
}

.btn-outline-blue{
    color:#7d9bfd;
    background-color: #d6defa;
    border-color:#c7d4ff;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    font-size: larger;
}

.btn-outline-blue:hover{
    color:#fff;
    background-color:#c6d3ff;
    border-color:#aebffa;
    font-weight: bold;
}


.passwordModal {
    background-color: aliceblue;
    border-radius: 6px;
    font-size: 18px;
    width:400px;
    margin: 5px 20px;
}

.passwordModal:focus {
    border-color: #696969;
    border-radius: 2px;
}

input[type=text] {
    background-color: aliceblue;
    border-radius: 6px;
    margin: 5px 20px;
    font-size: 18px;
    width: 400px;
}

input[type=text]:focus {
    border-color: #696969;
    border-radius: 2px;
}

input[type=date] {
    border-radius: 4px;
    font-size: 18px;
    background-color: aliceblue;
    width: 400px;
    height: 40.4px;
    border-color: #b9b9b9;
    margin: 5px 20px;
}

.center {
    padding: 10px;
}

.sameRow{
    display: inline-block;
}
